@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <div>
            <i class="fas fa-exclamation-triangle text-danger h1 me-3"></i>
            <span>Are you sure want to Delete Major with ID @Model?</span>
            <br />
        </div>
        <div class="card-footer d-flax justify-content-end">
            <button id="btnDelete" class="btn btn-danger">Confirm</button>
            &nbsp;
            <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>

        </div>
    </div>
</div>

<script>
    $("#staticModalLabel").text("@ViewBag.Title");
    $("#btnDelete").click(function (e) {
        $.ajax({
            url: "/Kelas/Delete",
            type: "post",
            data: {
                "id": @Model,  // Kirim id kategori
                userId: "@ViewData["userId"]"    // Kirim userId
            },
            dataType: "json",
            //beforeSend: () => { },
            success: function (response) {
                if (response.statusCode == 200 || response.statusCode == 201) {
                    // Tampilkan alert sukses
                    Swal.fire({
                        icon: "error",
                        title: 'Data Berhasil Di Hapus',
                        showConfirmButton: false,
                        timer: 3000 // Show the alert for 2 seconds
                    }).then(() => {
                        location.reload(); // Reload page after alert
                    });
                } else {
                    alert(response.statusCose + " - " + response.message)
                }
            },
            error: function (errResponse) {
                console.error(errResponse);
            }
        });
    });
</script>
